
/* /////////////////////// CSS Reset Of body /////////////////// */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
/* ============================ CSS Reset Of body ============================ */


/* ///////////////// ANCOR TAG STYLING //////////////// */
#navBar ul li a{
    display: block;
    padding: 15px 22px;
    margin: 0px 12px;
    
    text-decoration: none;
    color: rgb(255, 244, 244);
}

#navBar ul li a:hover{
    transition: all 0.4s ease-out 0s;
    
    color: rgb(199, 185, 185);
}
/* =========================== Ancor Tag Styling  ===================================== */





/* CSS Variables */
/* /////////////////////// CSS VARIABLES (OPTIONAL)  /////////////////// */
:root{
    
    --navBarHeight: 59px;
}
/* ============================ CSS VARIABLES (OPTIONAL) ============================ */



/* /////////////////////// Navbar Styling  /////////////////// */
#navBar{
    display: flex;
    align-items: center;
    /* justify-content: center; 800px100% */
    position: sticky;
    box-shadow:  2px 2px 25px black ;
}

#navBar:hover{
    transition: all 0.8s ease-out 0s;
    box-shadow:  2px 2px 26px 2px black;
}
#navBar:not(:hover){
    transition: all 0.8s ease-in-out 0s;
    box-shadow: 0.8px 0.8px 25px black;
}
#navBar::before:hover{
    opacity: 0.9;
}
#navBar ul{
    display: flex;
    padding: 2px 33px;
}

#navBar ul li{
    list-style: none;
    /* margin: 20px 20px; */
    font-size: 1.2rem;
    
}
#navBar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    
}

/* ============================Navbar Styling ============================ */



/* /////////////////////// NAVBAR: Logo CSS /////////////////// */
#logo img[src='davide-cantelli-jpkfc5_d-DI-unsplash.jpg']{
    height: 55px;
    width: 55px;
    border-radius: 200px;
    margin: 2px 1px;
    

}
#logo img:hover{
    transition: all 0.6s ease-out 0s;
    box-shadow: 0.3px 0.3px 10px black;
}
#logo img:not(:hover){
    transition: all 0.8s ease-in-out 0s;
   
}

#logo{
    margin: 10px 10px;
}

/* =============================NAVBAR: Logo CSS ======================================== */


/*/////////////////////////////// Styling Home Section //////////////////*/
section{
    display: flex;
    flex-flow: column nowrap;
    
    justify-content: center;   /*vertically center */
    align-items: center;    /*Horizontally Or Verticall and horizontally center*/
     text-align: center;     /*align text in center >>>*/
    padding: 200px;
}
.home::before{
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
    background:url('rachel-park-hrlvr2ZlUNk-unsplash.jpg') no-repeat center center/cover;

}
section h1{
    font-size: 3rem;
}

section button{
    position: absolute;
    top: 565px;
    /* left: 0px; */
    font-size: 1.3rem;
    display: block;
    
    margin: auto;
    padding: 25px 255px 25px 255px;
    background-color: rgb(225, 169, 149);
    border-radius: 20px;
    border:  solid 1px rgb(207, 146, 124);
    font-weight: bolder;
    
}

section button:not(:hover){
    transition: all 0.8s ease-in 0s;
    background-color: rgb(236, 188, 173);
    
}
section button:hover{
    transition: all 0.33s ease-in 0s;
    background-color: rgb(220, 163, 142);
    border: 1px solid rgb(179, 99, 99);
    box-shadow: 0px 0px 10px rgb(255, 212, 212);
    
    
}


/*================================ Styling Home Section ======================*/


